<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="//youtube.com">Watch Youtube videos</a>
      by <a href="//google.com">provided by Google</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
